$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.photo-upload {

  > button {
    display: block;
    width: 100%;
    min-height: 100px;
    background: #eee;
    border: none;
    box-shadow: none;
    margin: 0 auto;

    > span {
      font-size: 20px;
    }
  }

  > input {
    visibility: hidden;
    height:0px;
    width: 0px;
  }
}