<form class="form" id="photoForm" name="photoForm" ng-submit="submitPhotoForm(photoForm.$valid)" novalidate>
</form>

<div class="form">
  <div class="form-group">
    <label class="control-label">照片</label>
  </div>

  <div class="photo-upload">
    <button onclick="document.getElementById('file').click()">
      <span class="glyphicon glyphicon-plus" ng-hide="uploadImg"></span>
      <img ng-src="{{ uploadImg }}" ng-show="uploadImg">
    </button>
    <input type="file" name="file" id="file" ng-file-select>
  </div>

  <div class="form-group">
    <div ng-controller="MainmapCtrl" style="margin-top: 15px;">
      <leaflet center="center" tiles="tiles" markers="markers" width="100%" height="100px"></leaflet>
    </div>
    <p class="help-block" ng-hide="coords.longitude && coords.latitude">
      <span class="fa fa-spain"></span>
      获得地理位置中...
    </p>
    <p class="help-block" ng-show="geoError">
      <span ng-show="geoError.code == 1">您未授权使用地理定位功能</span>
      <span ng-show="geoError.code == 2">不能确定您的位置</span>
      <span ng-show="geoError.code == 3">请求位置的尝试已超时</span>
      <br>
      <button class="btn btn-default btn-block" ng-click="getLocation()">重试</button>
    </p>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" form="photoForm" ng-disabled="(!coords.longitude || !coords.latitude || !uploadImg) || uploading">
      <span ng-show="!uploading">保存</span>
      <span ng-show="uploading">保存中...</span>
    </button>
  </div>

</div>

<hr>

<div class="row">
  <div class="col-xs-6" ng-repeat="photo in photos | orderBy:'updatedAt':reverse">
    <span class="thumbnail">
      <img ng-src="{{ photo.file.url }}?imageView2/1/w/300/h/300/interlace/1">
    </span>
  </div>
</div>